{% extends 'base.html.twig' %}
{% use '/account/_layout_menu.html.twig' %}

{% block title %}Snow Trick / Dashboard{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="background-image"
         style="background-image: url({{ asset('/uploads/pictures/snow-3.jpg') }});
                 -webkit-filter: blur(5px);
                 -moz-filter: blur(5px);
                 -o-filter: blur(5px);
                 -ms-filter: blur(5px);
                 filter: blur(5px);
                 position: fixed;
                 width: 100%;
                 height: 100%;
                 top: 0;
                 left: 0;
                 z-index: -1;
                 background-position: center;"></div>
    <section class="bg-light shadow-lg " id="portfolio" style="background-color: rgba(0, 0, 0, 0)!important;">

        <div class="container">
            <h2 class="text-center mb-5">Bonjour {{ app.user.pseudo }}</h2>

            <div class="row">
                <!-- <h3>Bienvenue sur le site Snow Trick, vous pouvez des a present publier votre 1er Trick</h3> -->
                {% block menu %}
                    {{ parent() }}
                {% endblock %}
                <div class="col-md-9 col-sm-12">

                    <div class="card">
                        <div class="media-body ">
                            <div class="card-body">
                                <div class="card-text mb-3">


                                    <h3 class="mb-5">Vos Figures en lignes :</h3>
                                    <div class="container mt-3" style="height:400pt;overflow:auto">
                                        <div class="row">

                                            {% for trick in tricks %}
                                                <div class="col-md-4 col-sm-5 mb-3 trickparent"
                                                     data-idtrick="{{ trick.id }}"
                                                     data-link="{{ path('delete_trick', {'id': trick.id}) }}">
                                                    <div class="card">
                                                        <a href="{{ path('show', {'id': trick.id}) }}">
                                                            <img class="card-img-top"
                                                                 src="{{ asset('uploads/pictures/'~ trick.pictureDefault.name) }}">
                                                        </a>
                                                        <div class="card-body">
                                                            <p>{{ trick.id }} : {{ trick.name }}</p>

                                                            <button class="btn btn-danger suppr-trick float-right ml-2">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>

                                                            <a href="{{ path('edit_trick', {'id': trick.id}) }}">
                                                                <button class="btn btn-warning float-right ">
                                                                    <i class="fas fa-pencil-alt  "></i>
                                                                </button>
                                                            </a>


                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <div class="modal" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" style="margin-top: 100px; display: none;"
                                                     role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Comfirmer votre action</h5>
                                                            <button type="button" class="close close-spe"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Voulez-vous supprimer votre figure id:
                                                                <spam class="info-data"></spam>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="link-delete" href="">
                                                                <button type="button" class="btn btn-primary">
                                                                    supprimer
                                                                </button>
                                                            </a>
                                                            <button type="button" class="btn btn-secondary close-spe"
                                                                    data-dismiss="modal">Annuler
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 mt-5">
                    <div class="card">
                        <div class="media-body ">
                            <div class="card-body">
                                <div class="card-text mb-3">
                                    <h3 class="mb-5">Vos commentaires :</h3>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">lien vers le trick</th>
                                            <th scope="col">date de création</th>
                                            <th scope="col">contenu</th>
                                            <th scope="col"><i class="fas fa-trash-alt"></i></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for comment in comments %}
                                            <tr>
                                                <th >
                                                    <a href="{{ path('show', {'id': comment.trick.id}) }}">{{ comment.trick.id }}</a>
                                                </th>
                                                <th>{{ comment.dateCreation | date('d-m-Y') }}</th>
                                                <th>{{ comment.content }}</th>
                                                <th>
                                                    <a href="{{ path('delete_comment', {'id': comment.id}) }}">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                        {#
                                                Parameters:
                                                  * nbPages (int): number of pages
                                                  * currentPage (int): current pages
                                                  * url (string): route name & query (string): route parameter
                                                    ex: list/page-5 (5 = page )
                                         #}

                                        {% spaceless %}
                                            {% if nbPages > 1 %}

                                                {# Number of page around current page+1 #}
                                                {% set nearbyPagesLimit = 3 %}

                                                <div class="container">
                                                    <nav aria-label="">
                                                        <ul class="pagination justify-content-center">
                                                            {% if currentPage != 0 %}
                                                                <li class="page-item">
                                                                    <a class="page-link" href="{{ path('account', { 'page': 0 }) }}">début</a>
                                                                </li>
                                                            {% endif %}
                                                            {% for i in 1..nbPages %}
                                                                {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                                                                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                                                {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                                                                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                                                {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                                                                {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                                                                {% else %}
                                                                    <li class="page-item {% if currentPage == loop.index %}active {% endif %}">
                                                                        <a class="page-link" href="{{ path('account', { 'page': loop.index }) }}">{{ loop.index }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if currentPage != nbPages %}
                                                                <li class="page-item">
                                                                    <a class="page-link" href="{{ path('account', { 'page': nbPages }) }}">Fin</a>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </nav>
                                                </div>
                                            {% endif %}
                                        {% endspaceless %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        $(function () {
            //Comfirmation de supprétion(Boutton 'OUI' ou 'NON' )
            $('.suppr-trick').click(function () {
                event.preventDefault();

                var idData = $(this).parents('.trickparent').data('idtrick');
                $('.info-data').text(idData);

                var idLink = $(this).parents('.trickparent').data('link');

                $('.link-delete').attr('href', idLink);

                $('.modal').fadeIn(500, function () {

                    $('.modal-dialog').slideDown(300);

                });
                // Fermeture
                $('.close-spe').click(function () {

                    $('.modal').fadeOut(500);
                    $('.modal-dialog').hide();

                });
            })
        });
    </script>
{% endblock %}