{% extends 'base.html.twig' %}

{% block title %}Snow Tricks {% endblock %}
{% block header %}
    <!-- Header -->
    <header class="masthead " id="up-top" style=" background-image: url({{ asset('/uploads/pictures/snow-3.jpeg') }});">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenue sur le plus gros site communautaire de tricks pour Snowboarder!
                </div>
                <div class="intro-heading text-uppercase" style="color: #0B132B;">Your trick </br>Your buzz</div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 100px;">
                    <a class="btn btn-primary text-uppercase js-scroll-trigger float-right" href="#portfolio">
                        <i class="fas fa-angle-double-down fa-2x"></i></a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading text-uppercase mb-5">Les dernières publications :</h3>
                </div>
            </div>
            <div class="row" id="trickList">
                {% for trick in tricks %}
                    <div class="col-md-3 col-sm-6 mt-2">
                        <div class="card card-home m-1">
                            <a href="{{ path('show', {'id': trick.id}) }}">
                                <img class="card-img-top"
                                     src="{{ asset('uploads/pictures/thumbnail/'~ trick.pictureDefault.name) }}"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h6>{{ trick.name }}
                                    {% if is_granted('EDIT', trick) %}
                                        <a class="suppr-trick float-right "
                                           href="{{ path('edit_trick', {'id': trick.id}) }}">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    {% endif %}
                                    {% if is_granted('DELETE', trick) %}
                                        <a class="suppr-trick float-right mr-2"
                                           href="{{ path('delete_trick', {'id': trick.id}) }}"
                                           onclick="return confirm(`Comfirmer votre action ==>>> Voulez-vous supprimer votre figure : {{ trick.name }} ?`);">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {#<div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="margin-top: 100px; display: none;"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Comfirmer votre action</h5>
                            <button type="button" class="close close-spe"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Voulez-vous supprimer votre figure id:
                                <spam class="info-data"></spam>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a class="link-delete" href="">
                                <button type="button" class="btn btn-primary">
                                    supprimer
                                </button>
                            </a>
                            <button type="button" class="btn btn-secondary close-spe"
                                    data-dismiss="modal">Annuler
                            </button>
                        </div>
                    </div>
                </div>
            </div>#}
            <div class="row mt-3">
                <a class="m-auto" id="loadMoreBTN">
                    <button class="btn btn-primary ">Voir plus</button>
                </a>
            </div>
            <a id="btn-up" href="#up-top" class="btn btn-primary float-right js-scroll-trigger mr-4"><i
                        class="fas fa-angle-double-up fa-2x"></i></a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        click = 0;
        $("#btn-up").hide();

        function loadMore(event) {
            event.preventDefault();
            click++;
            let trick = 15 * click;
            const url = "{{ path('load_more_trick') }}" + trick;
            axios.get(url).then(function (response) {
                $("#trickList").append(response.data);
                if (trick === 15) {
                    $("#btn-up").show();
                }
            }).catch(function (error) {
                if (error.response.status === 404) {
                    window.alert("Erreur ! la page demander n'existe pas.");
                } else {
                    window.alert("Alert une erreure c'est produite veuillez contacter le support !");
                }
            });
        }

        document.getElementById('loadMoreBTN').addEventListener('click', loadMore);
    </script>
{% endblock %}
