{% extends 'base.html.twig' %}

{% block title %}Snow Tricks {% endblock %}
{% block header %}
    <!-- Header -->
    <header class="masthead " id="up-top" style=" background-image: url({{ asset('/uploads/pictures/snow-3.jpg') }});">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenue sur le plus gros site communautaire de tricks pour Snowboarder!
                </div>
                <div class="intro-heading text-uppercase" style="color: #0B132B;">Your trick </br>Your buzz</div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 100px;">
                    <a class="btn btn-primary text-uppercase js-scroll-trigger float-right" href="#portfolio">
                        <i class="fas fa-angle-double-down fa-2x"></i></a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase mb-5">Les dernières publications :</h2>
                </div>
            </div>
            <div class="row" id="trickList">
                {% for trick in tricks %}
                    <div class="col-md-3 col-sm-6 portfolio-item trickparent"
                         data-idtrick="{{ trick.id }}"
                            {% if is_granted('DELETE', trick) %}
                        data-link="{{ path('delete_trick', {'id': trick.id}) }}"
                            {% endif %}>
                        <a class="portfolio-link" href="{{ path('show', {'id': trick.id}) }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-link fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset('uploads/pictures/'~ trick.pictureDefault.name) }}"
                                 alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h6>{{ trick.name }}
                                {% if is_granted('EDIT', trick) %}
                                    <a class="suppr-trick float-right "
                                       href="{{ path('edit_trick', {'id': trick.id}) }}">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                {% endif %}
                                {% if is_granted('DELETE', trick) %}
                                    <a class="suppr-trick float-right mr-2" href="#">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </h6>

                        </div>
                    </div>
                {% endfor %}
                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" style="margin-top: 100px; display: none;"
                         role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Comfirmer votre action</h5>
                                <button type="button" class="close close-spe"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Voulez-vous supprimer votre figure id:
                                    <spam class="info-data"></spam>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a class="link-delete" href="">
                                    <button type="button" class="btn btn-primary">
                                        supprimer
                                    </button>
                                </a>
                                <button type="button" class="btn btn-secondary close-spe"
                                        data-dismiss="modal">Annuler
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="m-auto" id="loadMoreBTN">
                    <button class="btn btn-primary ">Voir plus</button>
                </a>
            </div>
            <a id="btn-up" href="#up-top" class="btn btn-primary float-right js-scroll-trigger mr-4"><i
                        class="fas fa-angle-double-up fa-2x"></i></a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        click = 0;
        $("#btn-up").hide();

        function loadMore(event) {
            event.preventDefault();
            click++;
            let trick = 15 * click;
            const url = "{{ path('load_more_trick') }}" + trick;
            axios.get(url).then(function (response) {
                $("#trickList").append(response.data);
                if (trick === 15) {
                    $("#btn-up").show();
                }
            }).catch(function (error) {
                if (error.response.status === 404) {
                    window.alert("Erreur ! la page demander n'existe pas.");
                } else {
                    window.alert("Alert une erreure c'est produite veuillez contacter le support !");
                }
            });
        }

        document.getElementById('loadMoreBTN').addEventListener('click', loadMore);

        $(function () {
            //Comfirmation de supprétion(Boutton 'OUI' ou 'NON' )
            $('.suppr-trick').click(function () {
                event.preventDefault();

                var idData = $(this).parents('.trickparent').data('idtrick');
                $('.info-data').text(idData);

                var idLink = $(this).parents('.trickparent').data('link');

                $('.link-delete').attr('href', idLink);

                $('.modal').fadeIn(500, function () {

                    $('.modal-dialog').slideDown(300);

                });
                // Fermeture
                $('.close-spe').click(function () {

                    $('.modal').fadeOut(500);
                    $('.modal-dialog').hide();

                });
            })
        });
    </script>
{% endblock %}
